<header>
    <h1>
        Project Entry History
    </h1>
</header>

<div id="inputDiv">
    <h2>Add New Entry</h2>
    <form>
        <div>
            <md-input-container width="100%">
                <input ng-model="vm.newEntry.description" type="text" placeholder="What did you do?">
            </md-input-container>
        </div>
        <div>
            <select ng-model="vm.newEntry.project_id" ng-options="option.id as option.name for option in vm.projects">
                <option value="">--Please Select--</option>
            </select>
            <md-input-container>
                <md-datepicker ng-model="vm.newEntry.date" type="text" placeholder="Enter Date"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <input ng-model="vm.newEntry.start_time" type="text" placeholder="Start Time">
            </md-input-container>
            <md-input-container>
                <input ng-model="vm.newEntry.end_time" type="text" placeholder="End Time">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.addNewEntry()">Submit</md-button>
        </div>
    </form>
</div>

<div id="historyDiv" width="100%">
    <h3>
        Entry History
    </h3>
    <table width="100%">
        <thead width="100%">
            <tr>
                <th width="35%">
                    Entry
                </th>
                <th width="20%">
                    Project
                </th>
                <th width="10%">
                    Date
                </th>
                <th width="15%">
                    Time
                </th>
                <th width="10%">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in vm.history | orderBy:'+date'">
                <td>
                    {{entry.description}}
                </td>
                <td>
                    <a href="#!/projects">{{entry.name}}</a>
                </td>
                <td>
                    {{entry.entryDate}}
                </td>
                <td>
                    {{entry.difference}} hours
                </td>
                <td>
                    <md-button class="md-raised md-warn" ng-click="vm.deleteEntry(entry)">Delete Entry</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>