<header>
    <h1>
        Welcome
    </h1>
</header>

<div id="inputDiv">
    <h2>Add New Entry</h2>
    <form ng-model="vm.newEntry" ng-submit="vm.addNewEntry()">
        <div>
            <md-input-container>
                <input ng-model="vm.newEntry.description" value="vm.newEntry.description" type="text" placeholder="What did you do?">
            </md-input-container>
        </div>
        <div>
            <select>
                <option value="">
                    --Select Project--
                </option>
                <option value="vm.project_id">
                    Time Tracker
                </option>
            </select>
            <!-- <md-datepicker md-placeholder="Enter Date"></md-datepicker> -->
            <md-input-container>
                <input ng-model="vm.newEntry.start_time" type="time" placeholder="Start Time">
            </md-input-container>
            <md-input-container>
                <input ng-model="vm.newEntry.end_time" type="time" placeholder="End Time">
            </md-input-container>
            <button>Submit Entry</button>

        </div>
    </form>
    <div id="historyDiv" width="100%">
        <h3>
            Entry History
        </h3>
        <table width="100%">
            <thead width="100%">
                <tr>
                    <th width="35%">
                        Entry
                    </th>
                    <th width="20%">
                        Project
                    </th>
                    <th width="10%">
                        Date
                    </th>
                    <th width="15%">
                        Time
                    </th>
                    <th width="10%">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.history">
                    <td>
                        {{entry.description}}
                    </td>
                    <td>
                        {{entry.name}}
                    </td>
                    <td>
                        {{entry.date}}
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <button ng-click="vm.deleteEntry(entry)">Delete Entry</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>