<header>
    <h1>
        Welcome
    </h1>
</header>

<div id="inputDiv">
    <h2>Add New Entry</h2>
    <form action="">
        <div>
            <md-input-container>
                <input value="" type="text" placeholder="What did you do?">
            </md-input-container>
        </div>
        <div>
            <select name="" id="">
                <option value="">
                    --Select Project--
                </option>
                <option value="">

                </option>
            </select>
            <!-- <md-datepicker md-placeholder="Enter Date"></md-datepicker> -->
            <md-input-container>
                <input value="" type="text" placeholder="Start Time">
            </md-input-container>
            <md-input-container>
                <input value="" type="text" placeholder="End Time">
            </md-input-container>
            <button>Submit Entry</button>
            
        </div>

    </form>
</div>