<header>
    <h1>
        Projects
    </h1>
</header>

<div id="tableDiv">
    <table width="100%">
        <thead>
            <tr>
                <th width="50%">
                    Projects
                </th>
                <th width="30%">
                    Contributions
                </th>
                <th width="20%">
                    Time Spent
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects">
                <td class="projectListing">
                    {{project.name}}
                </td>
                <td class="projectListing">
                    <a href="#!/entries">Add new entry</a>
                </td>
                <td class="projectListing">

                </td>
            </tr>
        </tbody>
    </table>
</div>