<header>
    <h1>
        Projects
    </h1>
</header>

<div width="100%">
    <h3>
        Create Project
    </h3>
    <form>
        <md-input-container width="100%">
            <input ng-model="vm.newProject.name" type="text" placeholder="Project Name">
        </md-input-container>
        <md-button ng-click="vm.addNewProject()" class="md-raised md-primary">Submit</md-button>
    </form>
</div>

<div id="tableDiv">
    <table width="100%">
        <thead>
            <tr>
                <th width="50%">
                    Projects
                </th>
                <th width="30%">
                    Contributions
                </th>
                <th width="20%">
                    Time Spent
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects">
                <td class="projectListing">
                    {{project.name}}
                </td>
                <td class="projectListing">
                    <a href="#!/entries">Add new entry</a>
                </td>
                <td class="projectListing">

                </td>
                <td class="projectListing">
                    <md-button class="md-raised md-warn">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>