<header>
    <h1>
        Projects
    </h1>
</header>

<div id="tableDiv">
    <table width="100%">
        <thead>
            <tr>
                <th width="70%">
                    Projects
                </th>
                <th width="30%">
                    Time Spent
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>